# Environment Variables

# Global State
ENV_STATE=dev


# Development Environment Variables
# ---------------------------------
# Database URL
DEV_DATABASE_URL=
# Logtail logging service
DEV_LOGTAIL_API_KEY=
DEV_LOGTAIL_INGESTING_HOST=
# Mailgun email service
DEV_MAILGUN_API_KEY2=
DEV_MAILGUN_API_KEY=
DEV_MAILGUN_DOMAIN=
# Backblaze B2 file storage
DEV_B2_KEY_ID=
DEV_B2_APPLICATION_KEY=
DEV_B2_BUCKET_NAME=
# API key for DeepAI services - Image generation
DEV_DEEPAI_API_KEY=
# SENTRY DSN
DEV_SENTRY_DSN=
DEV_SENTRY_DSN=


# testing environment variables
# -----------------------------

# Production Environment Variables
# --------------------------------

PROD_SENTRY_DSN=